*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
   background-image: url(https://media.istockphoto.com/id/1388018793/photo/grand-canal-in-venice.jpg?s=2048x2048&w=is&k=20&c=k9w-914OEDDd0tX5f3dfCSIQHUSsZGXopFAK6hheo-A=);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main #left{
    width: 30%; 
    background-color: rgba(0, 0, 0, 0.622);
}
#main #right{
    width: 70%;
    height: inherit;
}