<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
</head>

<body>
    <h1>This is my about section</h1>
    <p>This is my name: <%= data.name %>
    </p>
    <ul>
        <% data.hobbies.forEach((item)=> { %>
            <li>
                <%= item %>
            </li>
            <% }) %>
    </ul>
</body>

</html>