<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hey asit kumar </h1>
    <p>This is a paragraph.</p>
    <a href="https://www.google.com">Visit Google</a>
    <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">
    <section>
        <h1> this is my about section </h1>
        <p> thia is my name <%=data.name%> </p>
    </section>

</body>
</html>